body {
    font-family: Overpass;
    color: var(--black);
    background: var(--blue);
}

.col-3, .col-9 {
    min-height: 1px;
    float: left;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

.subtitle {
    color: var(--gray);
}

small.smallest {
    font-size: 0.6em;
}

.force-bold {
    font-weight: bold;
}

.main-content {
    background: var(--white);
    min-height: 100vh;
    padding-inline: 32px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
    color: var(--white);
}

#pasfoto-crop {
    display: flex;
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    border-radius: 100%;
    border: 8px solid var(--white);
    margin-block: 32px 16px;
}

#pasfoto {
    min-width: 150px;
    min-height: 150px;
    position: absolute;
}

.stepper-title {
    display: flex;
    align-items: center;
}

.stepper-cv-year {
    margin-left: auto;
    font-size: 0.7em;
    color: var(--blue);
}

.togglable-hidden-content {
    max-height: 0vh;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.show-hidden-content {
    cursor: pointer;
}

#show-3:checked~#content-3,
#show-2:checked~#content-2,
#show-1:checked~#content-1 {
    max-height: 100vh;
    overflow: hidden;
    transition: max-height .5s ease-in;
}

ul.stepper {
    list-style: none;
    li {
        position: relative;
        padding: 10px;
        &:before {
            position: absolute;
            content: "";
            width: 11px;
            height: 11px;
            background: var(--white);
	    border: 2px solid var(--black);
            border-radius: 100%;
            top: 17px;
            left: 13px;
	    z-index: 69;
        }
        &:first-child:before {
            content: "•";
            width: 17px;
            height: 17px;
            top: 13px;
            left: 10px;
	    border-width: 3px;
            text-align: center;
            line-height: 15px;
	    font-size: 1.3em;
        }
        & > * {
            padding-left: 24px
        }
        .stepper-title {
            font-size: 1.4em;
        }
        .stepper-title:not(:last-child) {
            margin-bottom: 0.5em;
        }
        .stepper-content {
            font-size: 0.8em;
            .vector-gallery {
                display: flex;
                flex-wrap: wrap;
                .vector-showcase:not(:last-child) {
                    padding-right: 24px;
                }
            }
            .vector-showcase {
                width: fit-content;
                img {
                    min-width: 250px;
                    min-height: 250px;
                    max-width: 250px;
                }
                a:link, a:visited {
                    color: var(--blue) !important;
                    text-decoration: none;
                }
            }
            & .vector-showcase-caption {
                text-align: center;
            }
        }
        &:not(:last-child):after {
            content: '';
            width: 3px;
            height: 100%;
            background: var(--black);
            position: absolute;
            left: 17px;
            top: 22px;
        }
    }
}

