body {
    font-family: Overpass;
    color: var(--black);
}

ul.stepper {
    list-style: none;
    li {
        position: relative;
        padding: 10px;
        a {
            color: var(--white);
        }
        &:before {
            position: absolute;
            content: "";
            width: 11px;
            height: 11px;
            background: var(--white);
	    border: 2px solid var(--black);
            border-radius: 100%;
            top: 17px;
            left: 13px;
	    z-index: 69;
        }
        &:first-child:before {
            content: "•";
            width: 17px;
            height: 17px;
            top: 13px;
            left: 10px;
	    border-width: 3px;
            text-align: center;
            line-height: 17px;
	    font-size: 1.5em;
        }
        & > * {
            padding-left: 24px
        }
        .stepper-title {
            font-size: 1.4em;
        }
        .stepper-title:not(:last-child) {
            margin-bottom: 0.5em;
        }
        .stepper-content {
            font-size: 0.8em;
        }
        &:not(:last-child):after {
            content: '';
            width: 3px;
            height: 100%;
            background: var(--black);
            position: absolute;
            left: 17px;
            top: 22px;
        }
    }
}

