@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-thinoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-thinoblique.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedthinoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedthinoblique.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extralightoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extralightoblique.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedextralightoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedextralightoblique.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-lightoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-lightoblique.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedlightoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedlightoblique.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-oblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-oblique.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedoblique.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-mediumoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-mediumoblique.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedmediumoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedmediumoblique.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-semiboldoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-semiboldoblique.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedsemiboldoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedsemiboldoblique.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-boldoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-boldoblique.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedboldoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedboldoblique.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extraboldoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extraboldoblique.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedextraboldoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedextraboldoblique.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-heavyoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-heavyoblique.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	src: url(/assets/fonts/iosevka-extendedheavyoblique.woff2) format('woff2'),
	url(/assets/fonts/iosevka-extendedheavyoblique.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}